# Karel and Ryan have full control of the repo by default
*                       @karelhala @ryelo

# Keith may also want to be aware of changes made to the Akamai scripts and Jenkinsfile
/akamai/*               @karelhala @ryelo @coderbydesign
/Jenkinsfile            @karelhala @ryelo @coderbydesign
